<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="megatrix" translate="label" sortOrder="10">
            <label>Megatrix</label>
        </tab>
        <section id="sizes" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Sizes</label>
            <tab>megatrix</tab>
            <resource>Megatrix_Sizes::config</resource>
            <group id="config" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Size Attribute Config</label>
                <field id="sizes" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Sizes</label>
                    <frontend_model>Megatrix\Sizes\Block\Adminhtml\Form\Field\Sizes</frontend_model>
                    <backend_model>Megatrix\Sizes\Config\Backend\Sizes</backend_model>
                </field>
            </group>
        </section>
    </system>
</config>