@media (min-width: 1200px) and (max-width: 1400px) {
 

}

@media (min-width: 992px) and (max-width: 1199px) {
	.block-collection .products-grid {
		.item.nb1{
			bottom: 130px;
			left: 23%;
		}
		.item.nb2{
			bottom: 135px;
    		left: 32%;
		}
		.item.nb3{
			bottom: 140px;
			right: 30%;
		}
		.item.nb4{
			bottom: 100px;
			width: 25.5%;
		}
	}
   .sm-filter-products .products-grid .product-slider .item{
    width: 33.3333% !important;
  }
    
}
@media (max-width: 992px) {
 
}
@media (min-width: 768px) and (max-width: 991px) {
   .block-collection .products-grid {
		.item.nb1{
			bottom: 80px;
		}
		.item.nb2{
			bottom:85px;
		}
		.item.nb3{
			bottom: 90px;
		}
		.item.nb4{
			bottom: 75px;
		}
	}

}

@media (max-width: 767px) {
   .block .title-home {
   	font-size: 200%;
   }
  .policyshop .item .images{
  	text-align: left;
  }
  .sm-filter-products .products-grid .block-content-slider .item{
  	width: 50%;
  }
}

@media (max-width: 480px) {
   .block-category .row [class*="col-"] {
      width: 100% !important;
   }
   .sm-filter-products .products-grid .block-content-slider .item{
  	width: 100%;
  }
  .w-newsletter {
  	padding:0px 10px 20px !important;
  	.newsletter-info .title-newletter{
  		font-size: 130% !important;
  		margin-bottom: 10px !important;
  	}
  	.newsletter-info .form-newsletter-popup .input-box .input-text{
  		width: auto ;
 	 }
 	 .newsletter-info .subscribe-bottom {padding: 5px 0;}
 	 .newsletter-info .form-newsletter-popup .action-newsletter button {
 	 	padding: :0 15px;
 	 }
  }
}